* {
    box-sizing: border-box;

  --Primary-100: #3692FF;
  --Secondary-400: #9CA3AF;
  --Secondary-800: #1F2937;
  --Cool-Gray-100: #F3F4F6;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.container {
  display: flex;
  flex-direction: column;

}

.container.signup {
  gap: 24px;
  position: absolute;
  top: 10%;
}

.logo-signup > img {
  width: 369px;
  height: 132px;
  margin-bottom: 40px;
  display: flex;
  justify-self: center;
  align-self: center;
}

.signup input {
  width: 640px;
  height: 56px;
}

.button.signup {
  color: var(--Cool-Gray-100);
  text-align: center;
  text-decoration: none;
  font-family: Pretendard;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;             
  width: 640px;
  height: 56px;  
  padding: 16px 124px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  gap: 10px;
}

.button.signup:focus {
  background: var(--Primary-100);
}

.container.signup label {
  color: var(--Secondary-800);
  font-family: Pretendard;
  font-style: normal;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;    
}

.container.signup input {
  background: var(--Cool-Gray-100);
  color: var(--Secondary-800);
  font-family: Pretendard;
  font-style: normal; 
  padding: 24px 16px;  
  border: 0px;
  border-radius: 12px;
  padding: 24px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;       
}


.container.signup input::placeholder {
  color: var(--Secondary-400);
}

.container.signup input:focus {
  border: 1px solid var(--Primary-100);
  outline: none;
}

.container.password {
  position: relative;  
}

.container.signup .img-icon {
  position: absolute;
  bottom: 16px;
  right: 24px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}


.block.sns-login {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #E6F2FF;
  align-items: center;
  border-radius: 8px;
  width: 640px;
  height: 74px;
  padding: 0 23px; 
}

.block .sns-list {
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  justify-content: center;
  align-items: center;  
  gap: 16px;
}

.block .sns-list img { 
  width: 42px;
  height: 42px;
}

.button.enabled {
  background: var(--Primary-100);  
}

.button.disabled {
  background: var(--Secondary-400);  
}

.login {
  color: var(--Secondary-800);

  font-family: Pretendard;
  font-style:normal;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;  
}

.login a {
  color: var(--Primary-100);
}