.auth-container {
  display: flex;
  flex-direction: column;
  margin: 60px auto auto;
  max-width: 640px;
  gap: 24px;
}

.logo-container {
  margin-bottom: 24px;
}

.logo-auth {
  display: flex;
  justify-self: center;
  align-self: center;
}

.logo-auth > img {
  width: 369px;
}

.button.auth {
  text-align: center;
  text-decoration: none;
  font-family: Pretendard;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;             
  width: 100%;
  height: 56px;  
  padding: 16px 124px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  gap: 10px;
}

.sns-login {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #E6F2FF;
  align-items: center;
  border-radius: 8px;
  width: 100%;
  height: 74px;
  padding: 0 23px; 
}

.sns-list {
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  justify-content: center;
  align-items: center;  
  gap: 16px;
}


.sns-list a,
.sns-list img { 
  height: 42px;
}


.auth-check {
  color: var(--Secondary-800);

  font-family: Pretendard;
  font-style:normal;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;  
}

.auth-check a {
  color: var(--Primary-100);
}