.appContainer {
  width: 1200px;
  border: 1px solid #545454
}

.productList {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.productItem {  
  color: #545454;
  width: 282px;

  * {
    display: block;
    text-align: center;
  }
}

.productThumbnail {
  width: 282px;
  height: 282px;
}