/*
  PageHeader.module.css

  2025. 09. 16

  Pageheader 컴포넌트의 스타일 css 모듈

*/


.pageHeader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  background-color: #ffffff;
  border-bottom: 1px solid #dfdfdf;
}

.gnb {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  
}

.logoImg {
  width: 154px;
  margin-right: 24px;
}


.menuList {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  color: var( --Secondary-600);

  & .menuItem {
    margin: 0 15px;
  }
}


.loginButton {
  background: var(--Primary-100);
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  padding: 11.5px 23px;
  color: #ffffff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}  

.loginButton:hover {
  background: #1967d6;
}